source https://www.nuget.org/api/v2
nuget Fable.JsonConverter
nuget Microsoft.WindowsAzure.ConfigurationManager
nuget Newtonsoft.Json
nuget Streamstone
nuget WindowsAzure.Storage
nuget NodaTime ~> 1.3